.bigTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  font-family: Inter;
  color: #e60035;
}

.imageOverlay {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imageOverlay img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.textContainers {
  text-align: center;
  margin-top: 25px;
}

.bigTextContainer>h1 {
  font-weight: 600;
}

.bigTextContainer>p {
  font-weight: 600;
}

.wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 80%;
}

@media (max-width: 431px) {
  .bigTextContainer {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

@media (min-width: 431px) {
  .bigTextContainer {
    grid-column-start: 4;
    grid-column-end: 10;
  }
}