.receptGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner för mobil */
    gap: 16px;
  }
  
  @media (min-width: 768px) {
    .receptGrid {
      grid-template-columns: repeat(4, 1fr); /* 4 kolumner för desktop */
    }
  }
  