.box>ul>li:nth-of-type(odd) {
    background-color: #f3cdfe98;
}

.box>ul>li:nth-of-type(even) {
    background-color: #fff;
}

.list {
    margin: 0;
    padding: 0;
}

.list>li {
    list-style-type: none;
    padding: 5px;
}

.list>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a>p {
    margin-left: 10px;
}

@media (max-width: 431px) {
    .list>li>a>p {
        margin: 0;
    }
    .list>li>a {
        flex-direction: column !important;
    }
    .picture {
        padding-bottom: 0 !important;
    }
    .list>li>a {
        padding-bottom: 1em;
    }
}

.picture {
    padding: 1em 0 1em 0;
    object-fit: cover;
    height: 30%;
    width: 30%;
}
