.box>ul>li:nth-of-type(odd) {
    background-color: #f3cdfe;
}

.box>ul>li:nth-of-type(even) {
    background-color: #fff;
}

.list {
    margin: 0;
    padding: 0;
}

.list>li {
    list-style-type: none;
    padding: 5px;
}

.list>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    padding: 1em 0 1em 0;
    object-fit: cover;
    height: 40%;
    width: 40%;
}
