.centerHeader {
  background-color: #F3CDFE;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 4rem;
  margin: 0;
}

.logo {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

h1 {
  margin: 0;
}

.link {
  display: inherit;
  justify-content: center;
  align-items: center;
}