.center {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
}

@media (min-width: 431px) {
    .center {
        height: 32rem !important;
    }
    .heroimage {
        height: 20rem !important;
    }
}

.heroimage {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}