* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pageTitle {
    display: flex;
    grid-column: 1 / var(--grid-column-end);
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1;
}

.pageTitle h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #E60035;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
}

@media (max-width: 768px) {
    .pageTitle h1 {
        left: 0;
        transform: none;
        margin-left: 2rem;
        font-size: 20px;
    }
}

.pageTitle h3 {
    color: #E60035;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    margin-right: 2rem;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .pageTitle h3 {
        font-size: 14px;
    }
}

.empty {
    min-height: 200px;
    text-align: center;
    grid-column: 1 / var(--grid-column-end);
}

@media (max-width: 768px) {
    .empty {
        min-height: 50px;
    }
}

.empty p {
    color: #E60035;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
}

.list {
    padding: 0 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
    width: 100%;
    grid-column: 1 / var(--grid-column-end);
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.recipeWrapper {
    background: #F1E8E1;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; 
    height: 100%; 
}

.recipeLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.recipeLink > img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.recipeWrapper h3 {
    font-size: 1.2rem; 
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .recipeLink > img {
        max-width: 100%;
    }

    .recipeWrapper h3 {
        font-size: 1rem; 
    }

    .recipeWrapper {
        padding: 12px; 
    }
}

