.pageTitle {
    display: flex;
    grid-column: 1 / var(--grid-column-end);
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.empty {
    text-align: center;
    font-family: Inter;
    grid-column: 1 / var(--grid-column-end);
}

.list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
    width: 100%;
    grid-column: 1 / var(--grid-column-end);
}

@media (max-width: 600px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.recipeWrapper {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.recipeLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.recipeLink > img {
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    .recipeLink > img {
        height: 150px;
    }
}
