.pageTitle {
    display: flex;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.empty {
    text-align: center;
    font-family: Inter;
}

.list {
    padding: 0;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);
}

.recipeWrapper {
    position: relative;
}

.recipeWrapper:nth-of-type(odd) {
    background-color: #f3cdfe8d;
}

.recipeWrapper:nth-of-type(even) {
    background-color: #fff;
}

.recipeLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 431px) {
    .recipeLink {
        flex-direction: column !important;
        padding-left: 0;
        padding-bottom: 1em;
    }
}

.recipeLink>img {
    padding: 1em 0 1em 0;
    object-fit: cover;
    height: 30%;
    width: 30%;
}