.aboutTheme {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
