.aboutTheme {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: calc(100vh - 4rem);
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.placeholderBackground {
  display: flex;
  align-self: center;
  align-items: center;
  width: 80%;
}

.placeholderWrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 80%;
}

@media (min-width: 431px) {
  .placeholderWrapper {
    width: 40%;
  }
  .placeholderBackground {
    width: 40%;
  }
}

.placeholderText {
  font-family: Inter;
  display: inherit;
  background-color: #db98bab9;

  padding: 10px;
  border: 2px;
  border-radius: 15px;
}