.grid {
    display: grid;
    gap: 24px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  