.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabButton {
  border: none;
  border-radius: 350px;
  padding: 10px 40px;

  font-family: Inter;
  font-weight: 900;
  font-size: 2vmin;
  color: black;

  cursor: pointer;
  background-color: #fff;
}

.tabButton.active {
  background-color: #f3cdfe;
}

.tabsContent {
  display: inherit;
  margin-top: 2vh;
  width: 100%;
}

.tabsInstructions {
    font-family: Inter;
    font-weight: 700;
    font-size: 2vmin;

  width: 100%;
    
  max-width: 100%;
  /* Prevents stretching */
  text-align: center;

  white-space: normal;
  /* Ensures text wraps */
  word-wrap: break-word;

  overflow-wrap: break-word;

  max-height: 40vh;
  /* Prevents it from making the page huge */
  overflow-y: auto;
  /* Enables scrolling */
}

.tabsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabsList li {
  display: flex;
  width: 100%;
  background-color: #f3cdfe;
  border-radius: 10px;
  box-sizing: border-box;

  height: 3vh;
  padding: 5px 10px;
  margin-bottom: 8px;
  align-items: center;
  padding-left: 2vw;

  font-family: Inter;
  font-weight: 500;
  font-size: 1.5vmin;
  color: black;
}

@media (max-width: 768px) {
  .tabsInstructions {
    font-size: 3vmin;
  }

  .tabButton {
    padding: 5px 30px;
    font-size: 2.8vmin;
  }

  .tabsList li {
    font-size: 3vmin;
    height: 40px;
  }
}
