 /* === GRID-CONTAINER === */
 .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column: 1/var(--grid-column-end);
   gap: 20px 20px;
   /* column-gap, row-gap */
   background-color: #F3CDFE;
   padding: 1rem 2rem;
 }
@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
   .container {
     grid-template-columns: repeat(2, 1fr);
     padding: 1rem 0.8rem;
   }
 }

 

 /* === RECEPTKORT === */
 .recipeWrapper {
   background-color: #F7F2E9;
   border-radius: 12px;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
 }

 @media (max-width: 600px) {
  .recipeWrapper {
    padding: 0.5rem;
  }
 }

 /* === LÄNK MED BILD OCH TITEL === */
 .recipeLink {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   color: var(--primary-black);
   gap: 0.5rem;
   width: 100%;
 }

 .recipeLink img {
   width: 66%;
   height: auto;
   object-fit: cover;
 }

 .recipeLink h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
 }

 .recipeLink h4 {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
 }

 @media (max-width: 600px) {
  .recipeLink h3 {
    font-size: 16px;
  }
  .recipeLink h4 {
    font-size: 12px;
  }
 }

 /* === FAVORITKNAPP === */
 .favoriteButton {
   margin-top: 0.5rem;
   background-color: var(--primary-rd);
   color: var(--primary-white);
   padding: 0.4rem 1rem;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 0.9rem;
   transition: background-color 0.2s ease;
 }

 .favoriteButton:hover {
   background-color: darkred;
 }

 /* === DESKTOP: 4 kolumner === */
 

 /* === RESPONSIV MOBILSTYLING === */
 @media (max-width: 600px) {

   .recipeLink img {
     width: 50%;
     height: auto;
     object-fit: cover;
   }
 }

 .imagewrapper {
   width: 100%;
   height: auto;
   object-fit: cover;
   grid-column: 1/var(--grid-column-end);
 }