.bannerSection {
    background-color: #f7f7f7;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
}

.heroImage {
    width: 100%;
    max-height: calc(100vh - 4rem);
    object-fit: cover;
}

@media (max-width: 431px) {
    .bannerSection {
        grid-column-end: 7;
    }
}
 
