/**/
.shortDescription {
    display: flex;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);
    align-items: center;

    min-height: 12rem;
    padding-right: 10vw;
    margin: 20px 0 20px 0;
    background-color: #F3CDFE;
}

.shortDescription>img {
    transform: rotate(-10deg);
}

.shortDescription>h2 {
    padding-left: 10vw;
    color: #E60035;
    font-family: Inter;
    font-size: 5vmin;
}

.shortDescription>h2>span {
    font-size: 150%;
    /* Make 'Smoothify' bigger */
}

/* Smoothie of the day */
.smoothieOfTheDay {
    display: flex;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);
    background-color: #F1E8E1;
    padding: 2rem 0 2rem 0;
}

.categoryScroll {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);

    margin: 20px 0 20px 0;
}

.categoryScroll h2 {
    color: #E60035;
    font-family: Inter;
    font-weight: 900;
    font-size: 6vmin;

    padding-left: 10vw;
    margin-bottom: 1vh;
}