.smoothieLink {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0px;
    position: relative;
    width: 100%;

    padding-left: 10vw;
}

.smoothieText {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    justify-content: center;

    height: 100%;

    font-family: Inter;
}

.smoothieText h2,
.smoothieText h3,
.smoothieText h4 {
    color: #E60035;

}

.smoothieText h2 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 22px;
    line-height: 90%;
}

.smoothieText h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 6px;
    line-height: 90%;
}

.smoothieText h4 {
    font-size: 20px;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .smoothieText h2 {
        font-size: 42px;
        line-height: 95%;
    }

    .smoothieText h3 {
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 4px;
    }

    .smoothieText h4 {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .smoothieText h2 {
        font-size: 36px;
        margin-bottom: 14px
    }

    .smoothieText h3 {
        font-size: 24px;
    }

    .smoothieText h4 {
        font-size: 16px;
    }
}

@media (max-width: 431px) {
    .smoothieText h2 {
        font-size: 24px;
    }

    .smoothieText h3 {
        font-size: 16px;
    }

    .smoothieText h4 {
        font-size: 12px;
        margin-bottom: 0px;
    }
}

.smoothieText p {
    color: #E60035;
    margin-top: 5px;
    width: 80%;
}
/*
.smoothieImage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.smoothieImage img {
    width: 80%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    padding-bottom: 1rem;
  /*  transform: translateX(-10%); */
}


/*
@media (min-width: 1500px) {
    .smoothieImage img {
        transform: translateX(-33%);
    }
}

@media (max-width: 1499px) {
    .smoothieImage img {
        transform: translateX(-20%);
    }
}

@media (max-width: 431px) {
    .smoothieImage img {
        transform: translateX(-10%);
    }
}

@media (max-width: 768px) {
    .smoothieImage img {
        width: 100%;
    }
}
*/
.categoryNames {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.categoryName {
    background-color: #E60035;
    color: white;
    margin-right: 0.5rem;
    padding: 0.3rem 1.2rem;
    border-radius: 25px;
    font-family: Inter;
    font-weight: 600;
}

.allergens {
    border-radius: 50%;
    background-color: transparent;
    color: #E60035;
    border: 2px solid #E60035;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin-right: 0.5rem;
    text-align: center;
    font-style: italic;

}