.smoothieLink {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 0px;
    position: relative;
    width: 100%;
}

.smoothieText {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    justify-content: center;
    padding-left: 10vw;
    height: 100%;

    font-family: Inter;
    font-size: 4vmin;
}

.smoothieText h2,
.smoothieText h3 {
    color: #E60035;

}

.smoothieText p {
    color: #E60035;
    margin-top: 5px;
    width: 80%;
}

.smoothieImage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smoothieImage img {
    width: 75%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    padding-bottom: 1rem;
    transform: translateX(-10%);
}



@media (min-width: 1500px) {
    .smoothieImage img {
        transform: translateX(-33%);
    }
}

@media (max-width: 1499px) {
    .smoothieImage img {
        transform: translateX(-20%);
    }
}

@media (max-width: 431px) {
    .smoothieImage img {
        transform: translateX(-10%);
    }
}

@media (max-width: 768px) {
    .smoothieImage img {
        width: 100%;
    }
}

.categoryNames {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.categoryName {
    background-color: #E60035;
    color: white;
    margin-right: 0.5rem;
    padding: 0.3rem 1.2rem;
    border-radius: 25px;
    font-family: Inter;
    font-weight: 600;
}

.allergens {
    border-radius: 50%;
    background-color: transparent;
    color: #E60035;
    border: 2px solid #E60035;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin-right: 0.5rem;
    text-align: center;
    font-style: italic;

}