.centerHeader {
  background-color: #F3CDFE;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 4rem;
  width: 100%;
  padding: 0;
}

.logo {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

.link {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.favoritesLink {
  width: 4rem;
  height: 4rem;
}