.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url('./images/jugoslocos-QD4yCjlD44A-unsplash.jpg') center/cover no-repeat;
  color: rgb(250, 252, 247);
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: none;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #ff5733;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #e64a2e;
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.2rem;
    padding: 18px 36px;
  }
}
