.homeTheme {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: calc(100vh - 4rem);
  width: 100%;
}

@media (max-width: 1300px) {
  .homeTheme {
    top: 4rem;
  }
}

