.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of viewport */
}

.recipeTheme {
  flex: 1;
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 20px 0 0 0;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-family: Inter;
}

.individualpost {
  width: 30%;
  background: #f3cdfec4;
  opacity: 0.75;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.posts img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.posts h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.posts li {
  margin: 5px 0;
  text-align: left;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /*
  h1 {
    /*font-size: 1.75rem;*/ /*
    font-size: 6vw;
  }
  */

  .title {
    width: 80%;
    padding: 10px;
  }

  .individualpost {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  /*h1 {
    font-size: 1.8rem;
  }*/

  .title {
    width: 80%;
    padding: 10px;
  }

  .individualpost {
    width: 80%;
  }
}
