.recipeTheme {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  font-size: x-large;
}