.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0 5px 0;
    grid-column-start: 1;
    grid-column-end: var(--grid-column-end);
}

input[type="text"] {
    font-size: 16px;
    padding-left: 1rem;
    height: 3rem;
    width: 80%;
    border-radius: 2rem;
    border: 2px solid #e60035;
    outline: none;
}

@media (max-width: 768px) {
    input[type="text"] {
        font-size: 12px;
        height: 2rem;
    }
}

@media (max-width: 431px) {
    input[type="text"] {
        font-size: 12px;
        height: 1.5rem;
    }
}



input[type="text"]:focus::placeholder {
    color: transparent;
}